# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# SQLite database files
*db

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Data files (opcional, se você não quiser versionar dados brutos)
rawdata/